@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <div class="sidebar @(isMenuVisible ? "show" : "")">
            <NavMenu>
                <buttonClose>
                    <button @onclick="HandleMenuToggle" class="btn-close bg-light"></button>
                </buttonClose>
            </NavMenu>
        </div>
    </AuthorizeView>
    
    <main>
        <div class="top-row px-4">
            <div class="d-flex align-items-center">
                @if (!isMenuVisible)
                {
                    <button class="btn btn-outline-light menu-toggle fade @(!isMenuVisible ? "show" : "")" type="button" @onclick="HandleMenuToggle">
                        <i class="bi bi-list"></i>
                    </button>
                }
                <div class="company-brand">
                    <img src="imgs/isotipo.jpg" alt="Isotipo de dagal" class="company-logo" />
                    <span class="@(isMenuVisible ? "d-none" : "") font-monospace fs-3" style="font-family: Georgia, 'Times New Roman', Times, serif;">Dagal</span>
                </div>
            </div>

            <AuthorizeView>
                <NotAuthorized>
                    <div class="d-flex">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Register">
                                <i class="bi bi-person-fill-add m-2"></i> Registrar
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Login">
                                <i class="bi bi-person-badge-fill m-2"></i> Iniciar sesión
                            </NavLink>
                        </div>
                    </div>
                    
                </NotAuthorized>

                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Manage">
                            <i class="bi bi-person-circle m-2"></i> @context.User.Identity?.Name
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Se ha producido un error no controlado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isMenuVisible = true;

    private void HandleMenuToggle()
    {
        isMenuVisible = !isMenuVisible;
    }
}
