@if (IsLoading)
{
    <div class="card shadow" aria-hidden="true">
        <div class="card-body">
            <h3 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h3>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-3"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
            </p>
        </div>
    </div>
}
else if (Estacion != null)
{
    <div class="card shadow">
        <div class="card-body">
            <h3>Estación</h3>
            <p><strong>ID:</strong> @Estacion.Id</p>
            <p class="mb-0"><strong>Nombre:</strong> @Estacion.Nombre</p>
        </div>
    </div>
}
else
{
    <div class="card shadow">
        <div class="card-body text-muted">
            <h3>Estación</h3>
            <p>No se encontraron datos</p>
        </div>
    </div>
}