@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmacion de restablecimiento de contraseña</PageTitle>

<h1>Confirmacion de restablecimiento de contraseña</h1>
<p>
    Te hemos enviado un enlace a tu correo electronico para restablecer tu contraseña.
</p>

<section class="col-md-6 col-md-offset-2">
    <div class="d-flex justify-content-center">
        <img src="/svg/undraw_mail-sent_ujev.svg" class="img-fluid  w-50" alt="Alternate Text" />
    </div>
</section>
