@page "/dashboard"
@using Infrastructure.Models
@using Web.Components.Estacion
@using Web.Components.Productos
@using Web.Components.Tanques
@using Web.Components.BarChart
<PageTitle>Dashboard</PageTitle>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Tanques</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<div class="container">
    <div class="row row-gap-sm-3">
        <div class="col-lg-3 col-md-4 d-flex flex-column gap-3">
            <EstacionComponent Estacion="EstacionViewModel" IsLoading="IsLoadingEstacion" />
            <ProductosComponent Productos="ListProductos" IsLoading="IsLoadingProductos" />
        </div>
        <div class="col-lg-9 col-md-8 d-flex flex-column gap-3">
            <BarChartComponent Tanques="ListTanques" />
            <TanquesComponent Tanques="ListTanques" IsLoading="IsLoadingTanques">
                <LabelUpdate>
                    <div>
                        <span>@dateUpdate</span>
                        <button class="btn btn-outline-info" @onclick="UpdateInventory">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </LabelUpdate>
            </TanquesComponent>
        </div>
    </div>
</div>



