@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<PageTitle>Home</PageTitle>

<h1>¡Bienvenido de nuevo!</h1>

<section class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-8 col-sm-12">
        <img src="/svg/undraw_complete-design_pzh6.svg" class="img-fluid  w-75" alt="Alternate Text" />
    </div>
</section>